# Created by .ignore support plugin (hsz.mobi)
!/.mvn/wrapper/maven-wrapper.jar
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.autotools
.buildpath
.cache-main
.com.apple.timemachine.donotpresent
.cproject
.directory
.DocumentRevisions-V100
.DS_Store
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.idea_modules/
.idea/
.loadpath
.LSOverride
.metadata
.mtj.tmp/
.mvn/timing.properties
.nfs*
.recommenders/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.target
.TemporaryItems
.tern-project
.texlipse
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode/*
.worksheet
*.bak
*.class
*.ctxt
*.ear
*.iml
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~
*~.nib
atlassian-ide-plugin.xml
bin/
buildNumber.properties
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
fabric.properties
hs_err_pid*
Icon
local.properties
Network Trash Folder
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
Temporary Items
tmp/
